.ResultsWrapper
{
    padding: 20px 50px;
    margin-top: 70px;
}
.searchKeyWord
{
    margin: 20px 0;
    background-color: #FA9000;
    color: #fff;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1.5em;
}
.searchKeyWord strong
{
    text-transform: capitalize;
}


.MainCard
{
    margin-bottom: 20px;
    padding: 10px;
    width: 900px;
    height: 300px;
    display: flex;
    gap: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
}

.ImgBox
{
    width: 400px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #eee;
}

.ImgBox .img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentBox
{
    position: relative;
    width: calc(100% - 450px);
}

.contentBox .Title
{
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}

.contentBox .Over_View
{
    padding-right: 10px;
    max-height: 100px;
    text-align: justify;
    color: #838080;
    line-height: 25px;
    font-family: montserrat;
    overflow: hidden;
    text-overflow: ellipsis;
}

.readMorBtn
{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: calc(100% );
}


@media only screen and (max-width:1115px)
{
    .ImgBox
    {
        width: 300px;
    }
    .contentBox
    {
        width: calc(100% - 300px);
    }
}

@media only screen and (max-width:650px)
{
    .MainCard
    {
        flex-direction: column;
        height: auto;
    }
    .ImgBox
    {
        width: 100%;
        height: 200px;
    }
    .contentBox
    {
        width: 100%;
    }
    .readMorBtn
    {
        display: none;
    }
}

.errorMsg
{
    font-size: 2em;
    text-align: center;
    
}